<a href="https://colab.research.google.com/github/viniciusfranca019/group-project-codenation/blob/main/Leads_dos_clusters.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
market_w_cluster_lbls = pd.read_csv('/content/drive/MyDrive/Drive_projeto_Codenation/normalized_data_clusters.csv')
portfolio_01 = pd.read_csv('/content/drive/MyDrive/Drive_projeto_Codenation/estaticos_portfolio1.csv')
portfolio_02 = pd.read_csv('/content/drive/MyDrive/Drive_projeto_Codenation/estaticos_portfolio2.csv')
portfolio_03 = pd.read_csv('/content/drive/MyDrive/Drive_projeto_Codenation/estaticos_portfolio3.csv')

In [ ]:
market_w_cluster_lbls.head(5)

,Unnamed: 0,company_ids,cluster_labels
0,0,a6984c3ae395090e3bee8ad63c3758b110de096d5d8195...,empresa do grupo 4
1,1,6178f41ade1365e44bc2c46654c2c8c0eaae27dcb476c4...,empresa do grupo 6
2,2,4a7e5069a397f12fdd7fd57111d6dc5d3ba558958efc02...,empresa do grupo 2
3,3,3348900fe63216a439d2e5238c79ddd46ede454df7b9d8...,empresa do grupo 2
4,4,1f9bcabc9d3173c1fe769899e4fac14b053037b953a1e4...,empresa do grupo 4

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
market_w_cluster_lbls[['company_ids','cluster_labels']].groupby(['cluster_labels']).count()

                    company_ids
cluster_labels
empresa do grupo 1        18584
empresa do grupo 2        68057
empresa do grupo 3         2598
empresa do grupo 4        83636
empresa do grupo 5        28601
empresa do grupo 6        66102
empresa do grupo 7        46611
empresa do grupo 8         8502
empresa do grupo 9       109601

In [ ]:
ids_w_cluster_lbls = market_w_cluster_lbls[['company_ids', 'cluster_labels']]
ids_w_cluster_lbls.dtypes

company_ids       object
cluster_labels    object
dtype: object

In [ ]:
def apply_cluster_labels_to_portfolio(portfolio):
    df_clean = portfolio.drop(columns=['Unnamed: 0'])
    df_clean = df_clean.rename(columns={'id':'company_ids'})
    return df_clean.merge(ids_w_cluster_lbls, how="inner", on='company_ids')

def group_and_count_by_labels(port_w_lbls):
    return port_w_lbls[['company_ids', 'cluster_labels']].groupby(['cluster_labels']).count()

In [ ]:
apply_cluster_labels_to_portfolio(portfolio_01).head(5)

,company_ids,fl_matriz,de_natureza_juridica,sg_uf,natureza_juridica_macro,de_ramo,setor,idade_empresa_anos,idade_emp_cat,fl_me,...,max_meses_servicos,min_meses_servicos,qt_funcionarios,qt_funcionarios_12meses,qt_funcionarios_24meses,tx_crescimento_12meses,tx_crescimento_24meses,tx_rotatividade,qt_filiais,cluster_labels
0,dabe79bec87c88ae04e869bf6bd321ee5e1893cecf6625...,True,EMPRESARIO INDIVIDUAL,PI,OUTROS,COMERCIO VAREJISTA,COMERCIO,0.646575,<= 1,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,empresa do grupo 6
1,32e5f4e10932153a7ba869cb0386e7e02d49d2461046b8...,False,EMPRESARIO INDIVIDUAL,MA,OUTROS,COMERCIO VAREJISTA,COMERCIO,6.586301,5 a 10,False,...,NaN,NaN,0.0,0.0,2.0,NaN,-100.0,0.0,4,empresa do grupo 9
2,a95d6f30bba445bd3d6b0c5b36f865b38ec01d17336090...,True,EMPRESARIO INDIVIDUAL,MA,OUTROS,COMERCIO VAREJISTA,COMERCIO,8.010959,5 a 10,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,empresa do grupo 9
3,6cb309685cea0b6d2988818792ec2e6fcb2bd02e0afa9e...,True,EMPRESARIO INDIVIDUAL,RN,OUTROS,COMERCIO VAREJISTA,COMERCIO,20.863014,> 20,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,empresa do grupo 4
4,f72aa7fa6787b0a5a1c88885b6120850df8ee0f71adc25...,True,SOCIEDADE EMPRESARIA LIMITADA,RN,ENTIDADES EMPRESARIAIS,COMERCIO VAREJISTA,COMERCIO,18.726027,15 a 20,False,...,91.2,19.333333,14.0,15.0,25.0,-6.666667,-44.0,0.0,3,empresa do grupo 4

In [ ]:
port_1_w_l = apply_cluster_labels_to_portfolio(portfolio_01)
group_count_port_1 = group_and_count_by_labels(port_1_w_l)
group_count_port_1.index.max()

'empresa do grupo 9'

In [ ]:
port_2_w_l = apply_cluster_labels_to_portfolio(portfolio_02)
group_count_port_2 = group_and_count_by_labels(port_2_w_l)
group_count_port_2

                    company_ids
cluster_labels
empresa do grupo 1           14
empresa do grupo 2           18
empresa do grupo 3          163
empresa do grupo 4            5
empresa do grupo 5          339
empresa do grupo 6           11
empresa do grupo 7            1
empresa do grupo 9           15

In [ ]:
port_3_w_l = apply_cluster_labels_to_portfolio(portfolio_03)
group_count_port_3 = group_and_count_by_labels(port_3_w_l)
group_count_port_3

                    company_ids
cluster_labels
empresa do grupo 1           10
empresa do grupo 2            9
empresa do grupo 3          153
empresa do grupo 4            4
empresa do grupo 5           80
empresa do grupo 6            1
empresa do grupo 7            3
empresa do grupo 9            5

ValidaÃ§Ã£o

In [ ]:
# Divide as empresas do portfÃ³lio 3 em 2 partes
msk = np.random.rand(len(portfolio_03)) < 0.5
portfolio_03_a = portfolio_03[msk]
portfolio_03_b = portfolio_03[~msk]

portfolio_03.shape

(265, 2)

In [ ]:
portfolio_03_a.shape

(125, 2)

In [ ]:
portfolio_03_b.shape

(140, 2)

In [ ]:
# Aplica funÃ§Ã£o na parte a do portfÃ³lio 3 e define o cluster a ser enviado como lead
port_3a_w_l = apply_cluster_labels_to_portfolio(portfolio_03_a)
group_count_port_3a = group_and_count_by_labels(port_3a_w_l)
group_count_port_3a

                    company_ids
cluster_labels
empresa do grupo 1            6
empresa do grupo 2            1
empresa do grupo 3           74
empresa do grupo 5           40
empresa do grupo 7            2
empresa do grupo 9            2

In [ ]:
# ValidaÃ§Ã£o: verifica se ao aplicar a funÃ§Ã£o na parte b do portfÃ³lio 3, o cluster definido Ã© o mesmo que da parte a
port_3b_w_l = apply_cluster_labels_to_portfolio(portfolio_03_b)
group_count_port_3b = group_and_count_by_labels(port_3b_w_l)
group_count_port_3b

                    company_ids
cluster_labels
empresa do grupo 1            4
empresa do grupo 2            8
empresa do grupo 3           79
empresa do grupo 4            4
empresa do grupo 5           40
empresa do grupo 6            1
empresa do grupo 7            1
empresa do grupo 9            3

In [ ]:
percentage_of_companies_3a = group_count_port_3a.max()/group_count_port_3a.sum()
percentage_of_companies_3b = group_count_port_3b.max()/group_count_port_3b.sum()
(percentage_of_companies_3a, percentage_of_companies_3b)
# Visto que a distribuiÃ§Ã£o entre as partes a e b do portifÃ³lio sÃ£o muito semelhantes, entendemos que a funÃ§Ã£o estÃ¡ validada!

(company_ids    0.592
 dtype: float64, company_ids    0.564286
 dtype: float64)

FunÃ§Ã£o final

In [ ]:
def define_leads(portfolio):
  port_w = apply_cluster_labels_to_portfolio(portfolio)
  group_count_port = group_and_count_by_labels(port_w)
  defined_cluster = group_count_port.index.max()
  market_without_portfolio = market_w_cluster_lbls[(~market_w_cluster_lbls['company_ids'].isin(port_w['company_ids']))]
  return market_without_portfolio[(market_without_portfolio['cluster_labels'] == defined_cluster)]

define_leads(portfolio_01).to_csv('/content/drive/MyDrive/Drive_projeto_Codenation/leads.csv')
define_leads(portfolio_01)

,Unnamed: 0,company_ids,cluster_labels
6,6,8bf37c178778e537b108e58bf20552abe10c3a7fae129b...,empresa do grupo 9
17,17,9907170763d88708043f32bc265fbf544d69f966052920...,empresa do grupo 9
28,28,ba411f39a37e192eeec2c4d8a801702adcc5fa0f4f83af...,empresa do grupo 9
40,40,f08c6cf195847df05af6c05f3d01ad37cdf5da7961b479...,empresa do grupo 9
41,41,ab2218ae31a140f03a1e2eca9ef35c3ee8a4d0f420981f...,empresa do grupo 9
...,...,...,...
432270,432270,a61242c63a1734a962c9a2d75b66aae659c4b2262c6e67...,empresa do grupo 9
432271,432271,b508a8f57e8d2f86d326b39b18397539ce9fce2121636b...,empresa do grupo 9
432274,432274,51395fd3eee3277a8cabefdfbd22dd079862ec1f491151...,empresa do grupo 9
432284,432284,6d1d4e188e3314878b59649c4f840e0ca141a3c03d5bfc...,empresa do grupo 9
432289,432289,9b933a5cf2149d1338f00fb459d34a16b9b0f2e8d3e8e1...,empresa do grupo 9