<a href="https://colab.research.google.com/github/viniciusfranca019/group-project-codenation/blob/main/Leads_dos_clusters.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
import pandas as pd
import numpy as np

In [22]:
market_w_cluster_lbls = pd.read_csv('/content/drive/MyDrive/Drive_projeto_Codenation/market_with_cluster_labels.csv')
portfolio_01 = pd.read_csv('/content/drive/MyDrive/Drive_projeto_Codenation/estaticos_portfolio1.csv')
portfolio_02 = pd.read_csv('/content/drive/MyDrive/Drive_projeto_Codenation/estaticos_portfolio2.csv')
portfolio_03 = pd.read_csv('/content/drive/MyDrive/Drive_projeto_Codenation/estaticos_portfolio3.csv')

In [38]:
market_w_cluster_lbls[['id','cluster_labels']].groupby(['cluster_labels']).count()

                        id
cluster_labels
empresa do grupo 1  431083
empresa do grupo 2     481
empresa do grupo 3     132
empresa do grupo 4     596

In [23]:
ids_w_cluster_lbls = market_w_cluster_lbls[['id', 'cluster_labels']]
ids_w_cluster_lbls.dtypes

id                object
cluster_labels    object
dtype: object

In [39]:
def apply_cluster_labels_to_portfolio(portfolio):
    df_clean = portfolio.drop(columns=['Unnamed: 0'])
    return df_clean.merge(ids_w_cluster_lbls, how="inner", on='id')

def group_and_count_by_labels(port_w_lbls):
    return port_w_lbls[['id', 'cluster_labels']].groupby(['cluster_labels']).count()

In [24]:
portfolio_01 = portfolio_01.drop(columns=['Unnamed: 0'])
portfolio_01.dtypes

id                          object
fl_matriz                     bool
de_natureza_juridica        object
sg_uf                       object
natureza_juridica_macro     object
                            ...
qt_funcionarios_24meses    float64
tx_crescimento_12meses     float64
tx_crescimento_24meses     float64
tx_rotatividade            float64
qt_filiais                   int64
Length: 181, dtype: object

In [34]:
portfolio_01_cluster_lbls = portfolio_01.merge(ids_w_cluster_lbls, how="inner", on='id')

portfolio_01_cluster_lbls.groupby(['cluster_labels']).count()

                     id  fl_matriz  ...  tx_rotatividade  qt_filiais
cluster_labels                      ...
empresa do grupo 1  529        529  ...              131         529

[1 rows x 181 columns]

In [36]:
portfolio_01_cluster_lbls.shape

(529, 182)

In [40]:
port_2_w_l = apply_cluster_labels_to_portfolio(portfolio_02)
group_count_port_2 = group_and_count_by_labels(port_2_w_l)
group_count_port_2

                     id
cluster_labels
empresa do grupo 1  566

In [41]:
port_3_w_l = apply_cluster_labels_to_portfolio(portfolio_03)
group_count_port_3 = group_and_count_by_labels(port_3_w_l)
group_count_port_3

                     id
cluster_labels
empresa do grupo 1  265