<a href="https://colab.research.google.com/github/viniciusfranca019/group-project-codenation/blob/main/Leads_dos_clusters.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [50]:
import pandas as pd
import numpy as np

In [51]:
market_w_cluster_lbls = pd.read_csv('/content/drive/MyDrive/Drive_projeto_Codenation/normalized_data_clusters.csv')
portfolio_01 = pd.read_csv('/content/drive/MyDrive/Drive_projeto_Codenation/estaticos_portfolio1.csv')
portfolio_02 = pd.read_csv('/content/drive/MyDrive/Drive_projeto_Codenation/estaticos_portfolio2.csv')
portfolio_03 = pd.read_csv('/content/drive/MyDrive/Drive_projeto_Codenation/estaticos_portfolio3.csv')

In [52]:
market_w_cluster_lbls[['company_ids','cluster_labels']].groupby(['cluster_labels']).count()

                    company_ids
cluster_labels
empresa do grupo 1        18584
empresa do grupo 2        68057
empresa do grupo 3         2598
empresa do grupo 4        83636
empresa do grupo 5        28601
empresa do grupo 6        66102
empresa do grupo 7        46611
empresa do grupo 8         8502
empresa do grupo 9       109601

In [53]:
ids_w_cluster_lbls = market_w_cluster_lbls[['company_ids', 'cluster_labels']]
ids_w_cluster_lbls.dtypes

company_ids       object
cluster_labels    object
dtype: object

In [54]:
def apply_cluster_labels_to_portfolio(portfolio):
    df_clean = portfolio.drop(columns=['Unnamed: 0'])
    df_clean = df_clean.rename(columns={'id':'company_ids'})
    return df_clean.merge(ids_w_cluster_lbls, how="inner", on='company_ids')

def group_and_count_by_labels(port_w_lbls):
    return port_w_lbls[['company_ids', 'cluster_labels']].groupby(['cluster_labels']).count()

In [55]:
portfolio_01 = portfolio_01.drop(columns=['Unnamed: 0'])

In [56]:
portfolio_01 = portfolio_01.rename(columns={'id':'company_ids'})

In [57]:
portfolio_01.dtypes

company_ids                 object
fl_matriz                     bool
de_natureza_juridica        object
sg_uf                       object
natureza_juridica_macro     object
                            ...
qt_funcionarios_24meses    float64
tx_crescimento_12meses     float64
tx_crescimento_24meses     float64
tx_rotatividade            float64
qt_filiais                   int64
Length: 181, dtype: object

In [58]:
portfolio_01_cluster_lbls = portfolio_01.merge(ids_w_cluster_lbls, how="inner", on='company_ids')

portfolio_01_cluster_lbls.groupby(['cluster_labels']).count()

                    company_ids  fl_matriz  ...  tx_rotatividade  qt_filiais
cluster_labels                              ...
empresa do grupo 1           22         22  ...                3          22
empresa do grupo 2           78         78  ...               11          78
empresa do grupo 4          103        103  ...               23         103
empresa do grupo 5           39         39  ...               28          39
empresa do grupo 6           90         90  ...               24          90
empresa do grupo 7           57         57  ...               14          57
empresa do grupo 8            1          1  ...                0           1
empresa do grupo 9          139        139  ...               28         139

[8 rows x 181 columns]

In [59]:
portfolio_01_cluster_lbls.shape

(529, 182)

In [60]:
port_2_w_l = apply_cluster_labels_to_portfolio(portfolio_02)
group_count_port_2 = group_and_count_by_labels(port_2_w_l)
group_count_port_2

                    company_ids
cluster_labels
empresa do grupo 1           14
empresa do grupo 2           18
empresa do grupo 3          163
empresa do grupo 4            5
empresa do grupo 5          339
empresa do grupo 6           11
empresa do grupo 7            1
empresa do grupo 9           15

In [61]:
port_3_w_l = apply_cluster_labels_to_portfolio(portfolio_03)
group_count_port_3 = group_and_count_by_labels(port_3_w_l)
group_count_port_3

                    company_ids
cluster_labels
empresa do grupo 1           10
empresa do grupo 2            9
empresa do grupo 3          153
empresa do grupo 4            4
empresa do grupo 5           80
empresa do grupo 6            1
empresa do grupo 7            3
empresa do grupo 9            5